<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838404753164-tdd52o0ifto2edr5463960oaqbd24c36.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838404753164-tdd52o0ifto2edr5463960oaqbd24c36</string>
	<key>API_KEY</key>
	<string>AIzaSyDGBrMz90M2LzzSUrOgsOt-QRMmwZ8PPXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>838404753164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dime.Flicker</string>
	<key>PROJECT_ID</key>
	<string>flicker-e7888</string>
	<key>STORAGE_BUCKET</key>
	<string>flicker-e7888.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838404753164:ios:d282fd1ba5c4b7d3deab29</string>
</dict>
</plist>